*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

body,
html {
  color: #751c7c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header,
.tagline {
  text-align: center;
}

.asterisk {
  font-size: 0.75em;
  text-align: center;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  margin-top: 1em;
  margin-bottom: 1em;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}

.nav:hover {
  cursor: pointer;
  background-color: #751c7c;
}

.nav:hover a {
  color: white;
}

.nav-link {
  border: 2px solid #751c7c;
}

.nav-link > a {
  padding: 0.5em;
  display: inline-block;
  text-decoration: none;
  color: #751c7c;
}

.code-block {
  width: 100%;
  display: flex;
  justify-content: center;
}

.code {
  overflow: auto;
  width: 800px;
}
